@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root{
    margin: 0px;
    padding: 0px;
    width:100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    background-color: #1f2937;
}